Repository StanislavKaisin/react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jsonlint

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,json,md,css,scss}": ["prettier --write", "git add"],
    "src/**/*.{js,jsx}": ["prettier --write", "eslint --fix", "git add"],
    ".*{rc, json}": "jsonlint"
  }
}

commit after eslint has been installed
  package-lock.json
  package.json
Due: none

added components from hmw1
  .env
  .eslintrc
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.jsx
  src/Components/AddCommentBtn/AddCommentBtn.jsx
  src/Components/AppHeader/AppHeader.jsx
  src/Components/AppNavigation/AppNavigation.jsx
  src/Components/LogOutBtn/LogOutBtn.jsx
  src/Components/MainLogo/MainLogo.jsx
  src/Components/MainLogo/logo.svg
  src/Components/MenuFilter/MenuFilter.jsx
  src/Components/MenuItemComment/MenuItemComment.jsx
  src/Components/MenuList/MenuList.jsx
  src/Components/OrderHistory/OrderHistory.jsx
  src/Components/Person/Person.jsx
  src/Components/RateDishBtn/RateDishBtn.jsx
  src/Components/SignInBtn/SignInBtn.jsx
  src/Components/SignInForm/SignInForm.jsx
  src/Components/SignUpBtn/SignUpBtn.jsx
  src/Components/SignUpForm/SignUpForm.jsx
  src/Components/UserMenu/UserMenu.jsx
  src/Data/menu.json
  src/Data/order-history.json
Due: prettier --write, eslint --fix, jsonlint

changed files hmw1
  src/App.jsx
  src/Components/AddCommentBtn/AddCommentBtn.jsx
  src/Components/AppHeader/AppHeader.jsx
  src/Components/MenuItemComment/MenuItemComment.jsx
  src/Components/OrderHistory/OrderHistory.jsx
  src/Components/RateDishBtn/RateDishBtn.jsx
  src/Components/SignInBtn/SignInBtn.jsx
  src/Components/SignInForm/SignInForm.jsx
  src/Components/SignUpBtn/SignUpBtn.jsx
  src/Components/UserMenu/UserMenu.jsx
Due: prettier --write, eslint --fix

fixed logo issue
  src/logo.svg
Due: none

fixed issues with es lint
  .env
  .eslintrc
  package-lock.json
  package.json
Due: jsonlint

added practce 2
  db.json
  package-lock.json
  package.json
  server/db.json
  src/App.js
  src/App.jsx
  src/Components/AppHeader.jsx
  src/Components/Avatar.jsx
  src/Components/DropDown.jsx
  src/Components/Logo.jsx
  src/Components/MenuCard.jsx
  src/Components/MenuGrid.jsx
  src/Components/MenuPage.jsx
  src/Components/Modal.jsx
  src/Components/Navigation.jsx
  src/Components/UserMenu.jsx
  src/Components/index.css
  src/index.js
  src/logo1.svg
  src/services/api.jsx
Due: prettier --write, eslint --fix

added files lection 5
  src/App.jsx
  src/Components/AppHeader/AppHeader.jsx
  src/Components/AppHeader/AppHeader.module.css
  src/Components/AppHeader/assets/logo.svg
  src/Components/AppHeader/assets/logo1.svg
  src/Components/Avatar/Avatar.jsx
  src/Components/Avatar/Avatar.module.css
  src/Components/Logo/Logo.jsx
  src/Components/MenuGrid.jsx
  src/Components/Modal/Modal.jsx
  src/Components/Navigation.jsx
  src/Components/Navigation/Navigation.jsx
  src/Components/Navigation/Navigation.module.css
  src/Components/Tabs/Tab.jsx
  src/Components/Tabs/Tabs.jsx
  src/Components/Tabs/Tabs.module.css
  src/Components/UserMenu/DropDown/DropDown.jsx
  src/Components/UserMenu/DropDown/DropDown.module.css
  src/Components/UserMenu/UserMenu.jsx
  src/Components/UserMenu/UserMenu.module.css
  src/index.js
  src/services/api.jsx
  src/tabs.json
Due: prettier --write, eslint --fix

added files hmw1
  package-lock.json
  src/App.css
  src/App.jsx
  src/Components/AppNavigation/AppNavigation.jsx
  src/Components/CommentsList/CommentsList.jsx
  src/Components/LogOutBtn/LogOutBtn.jsx
  src/Components/MainLogo/MainLogo.jsx
  src/Components/MainLogo/logo.png
  src/Components/MainLogo/logo.svg
  src/Components/MenuItemComment/MenuItemComment.jsx
  src/Components/MenuItemRating/MenuItemRating.jsx
  src/Components/MenuList/MenuList.jsx
  src/Components/OrderHistory/OrderHistory.jsx
  src/Components/Person/Person.jsx
  src/Components/SignInForm/SignInForm.jsx
  src/Components/SignUpForm/SignUpForm.jsx
Due: prettier --write, eslint --fix

added build folder in hmw1
  .gitignore
  build/asset-manifest.json
  build/favicon.ico
  build/index.html
  build/manifest.json
  build/precache-manifest.068e2499ba665e916854414e967829b8.js
  build/service-worker.js
  build/static/css/main.49fd1cb0.chunk.css
  build/static/css/main.49fd1cb0.chunk.css.map
  build/static/js/2.bfb993fe.chunk.js
  build/static/js/2.bfb993fe.chunk.js.map
  build/static/js/main.e40b4463.chunk.js
  build/static/js/main.e40b4463.chunk.js.map
  build/static/js/runtime~main.a8a9905a.js
  build/static/js/runtime~main.a8a9905a.js.map
  build/static/media/logo.925e7aa2.png
Due: none

fixing some minor bugs
  package-lock.json
  src/Components/Tabs/Tabs.jsx
Due: prettier --write, eslint --fix

added modal
  src/App.jsx
  src/Components/Modal/Modal.jsx
  src/Components/UserMenu/UserMenu.jsx
Due: prettier --write, eslint --fix
